.wbdv-sticky-nav-bar{
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.container-fluid{
    padding-top: 70px;
}

.nav-tabs > li > a {

}

.nav-item.plus-right{
    float: right;
}

.list-group{

}

.list-group-item{


}

.nav-item.pill-1{
    margin: 10px;
    background-color: dimgrey;
}

.nav-item.plus-1{
    margin: 10px;
}

.my-controls-at-top-right-check{
    position: absolute;
    top: 15px;
    right: 30px;
}

.my-controls-at-top-right-times{
    position: absolute;
    top: 15px;
    right: 15px;
}

.ys-location{
    float: right;
}

.card{
    margin: 10px;
}

.ys-plus{
    position: fixed;
    right: 5%;
    bottom: 5%;
}